.doc-symbol {
  padding: 50px 20px 20px;

  max-width: 50em;
  margin: 0 auto;
}

.doc-symbol__body h1 { font-size: 150%; }
.doc-symbol__body h2 { font-size: 125%; margin: 0 0 1em 0; }
.doc-symbol__body h3 { font-size: 100%; margin: 0 0 .5em 0; }

.doc-symbol p code {
  color: #a44;
  font-weight: bold;
}

.doc-symbol a {
}

.doc-symbol td {
  padding: 5px 10px;
}

.doc-symbol th:empty, .doc-symbol tr:empty {
  display: none;
}

.doc-symbol p {
  margin: 0 0 1.5em 0;
}

.doc-symbol pre {
  padding: 10px 20px;
  white-space: break-spaces;
}

.doc-symbol pre,
.doc-symbol table {
  margin: 0 0 2em 0;
}

.doc-symbol td,
.doc-symbol th,
.doc-symbol pre {
  background-color: #ffe9;
  border: 1px solid #cc8;
  border-radius: 3px;
  padding: 10px;
}

.doc-symbol pre:has(> .doc-symbol__syntax-highlighter) {
  padding: 0;
}