@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Open Sans';
  background-color: #fff;
  color: #444;
  font-size: 15pt;
}

input {
  font-size: 1em;
}

code, pre {
  font-family: Cousine;
}

a {
  text-decoration: none;
  color: #66f;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #66f;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
