@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Open Sans';
  background-color: #fff;
  color: #444;
}

code, pre {
  font-family: Cousine;
}

a {
  text-decoration: none;
  color: #66f;
}